[submodule "gov/lib/forge-std"]
	path = gov/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "gov/lib/openzeppelin-contracts"]
	path = gov/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
